/03.Src/Calculator/Calculator.Core/bin
/03.Src/Calculator/Calculator.Core/obj
/03.Src/Calculator/Calculator.LZX.View/bin
/03.Src/Calculator/Calculator.LZX.View/obj
/03.Src/Calculator/Calculator.MH.View/obj
/03.Src/Calculator/Calculator.WR.View/obj
